# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Minecraft runtime files
crash-reports/
logs/
saves/
usercache.json
usernamecache.json
options.txt

# Files from Forge MDK
forge*changelog.txt

# ChoccyIDE 会话和缓存文件
.choccy/
